html {
  background: url("cover.png") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

body {
  margin: 0px;
  box-sizing: border-box;
  height: 100%;
}

a {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: rgba(87, 85, 85, 0.938);
}

.main {
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #ccffff, #ffcccc);
  padding: 12px 24px;
}

.navbar__logo {
  font-size: 24px;
  color: rgba(238, 106, 128, 0.856);
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin: 0px;
}
.navbar__menu li {
  list-style: none;
  padding: 0px 30px;
}

.navbar__icons {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
}

.navbar__icons li {
  list-style: none;
  padding: 0px 12px;
}

.navbar__icons li a {
  font-size: 18px;
}

.navbar__toggleBtn {
  position: absolute;
  right: 24px;
  display: none;
  font-size: 18px;
  top: 32px;
}

/* animation */
.navbar__name:hover,
.navbar__toggleBtn:hover {
  animation-name: colorful;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes colorful {
  100% {
    color: rgba(121, 115, 115, 0.363);
  }
}

.navbar__menu a:hover {
  animation-name: colorful2;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes colorful2 {
  100% {
    color: rgba(121, 115, 115, 0.363);
  }
}

.figure {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.figure > img {
  width: 500px;
}

.figure > figcaption {
  font-size: 80px;
  font-family: ;
  color: rgb(245, 245, 245);
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.01em;
  position: relative;
  padding: 12px 12px;
  left: 70px;
  text-shadow: 2px 2px rgba(128, 128, 128, 0.555);
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .figure > figcaption,
  .image {
    max-width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 36px 12px;
  }

  .navbar__logo {
    font-size: 30px;
  }

  .navbar__name {
    font-size: 25px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu a {
    width: 100%;
    text-align: center;
    padding: 8px 24px;
  }

  .navbar__menu a:hover {
    cursor: pointer;
    background-color: #0a2654;
    color: white;
    opacity: 0.7;
  }

  .navbar__icons {
    display: none;
    width: 100%;
    justify-content: center;
  }

  .navbar__toggleBtn {
    display: block;
    font-size: 30px;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }

  @keyframes colorful2 {
    100% {
      color: whitesmoke;
    }
  }

  .figure > img {
    width: 600px;
  }

  .figure {
    flex-direction: column-reverse;
    align-items: center;
  }
  .figure > figcaption {
    max-width: 100%;
    position: relative;
    top: 50px;
    left: auto;
    font-size: 100px;
  }
}
